
    <div class="col-sm-6">
      <div class="thumbnail">
        <img src="https://dummyimage.com/242x200/fafafa/000000" alt="dummy-img">
        <div class="caption">
          <h3>{{auction.get('name')}}</h3>
          <p>
            Precio Actual: {{ auction.get('currentPrice') | currency:"USD":2 }}
          </p>
          <p>Subastas: {{ auction.get('bids') }}</p>
          <countdown units="Days | Hours | Minutes | Seconds" [date]="auction.get('endDate')"></countdown>
          <p><button class="btn btn-primary" role="button" (click)="bid()">Subastar</button></p>
        </div>
      </div>
    </div>
